# Rahasia (Secrets)
# Masukkan Personal Access Token (PAT) GitHub Anda dengan izin 'repo'
GITHUB_PAT=ghp_token_anda_disini

# Konfigurasi URL / Lingkungan
# Ganti dengan URL repositori GitHub milik Anda sendiri
GITHUB_DISPATCH_URL=https://api.github.com/repos/USERNAME_ANDA/NAMA_REPO_ANDA/dispatches
MLFLOW_TRACKING_URI=http://mlflow-server:5000